# ==========================
# .NET
# ==========================

bin/
obj/

# Arquivos de usuário
*.user
*.suo

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# JetBrains Rider
# ==========================

.idea/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Node.js / Vue
# ==========================

node_modules/
dist/

# ==========================
# Sistema
# ==========================

.DS_Store
Thumbs.db